<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!-- enables thymeleaf namespace -->
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}"> <!-- inserts an iterator, render following for each element -->
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}">Spring in Action</td>
        <td th:text="${book.publisher.name}">Wrox</td><!-- object dot notation -->
    </tr>
</table>

</body>
</html>